#root {
  position: relative;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#map {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.burger {
  position: fixed;
  top: 2.5vh;
  left: 0;
  background-color: white;
  box-shadow: 2px 2px 7px;
  border-radius: 0 5px 5px 0;
  /* TODO: Media queries, looks too big in desktop */
  width: 10vmax;
  height: 10vmax;
  font-size: 5vmax;
}

.burger-icon {
  position: absolute;
  top: 25%;
  left: 25%;
}

.side-menu {
  position: fixed;
  width: 0;
  top: 2.5vh;
  bottom: 0;
  background-color: white;
  transition: 0.5s;
  overflow-x: hidden;
}

.side-menu.visible {
  width: 75vw;
}

.side-menu >* {

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
